
*.nupkg

4_Repository/Ephimes\.Repository/obj/Debug/

\.packages/

.bin/

.obj/

packages/CommonServiceLocator\.NinjectAdapter\.Unofficial\.3\.2\.2\.0/lib/Net40/

packages/Ninject\.3\.2\.2\.0/lib/sl5/

packages/CommonServiceLocator\.NinjectAdapter\.Unofficial\.3\.2\.2\.0/tools/

packages/EntityFramework\.6\.1\.3/content/

packages/EntityFramework\.6\.1\.3/lib/net40/

packages/EntityFramework\.6\.1\.3/lib/net45/

packages/EntityFramework\.6\.1\.3/tools/

\packages/

packages/Ninject\.3\.2\.2\.0/lib/sl4-windowsphone71/

packages/Ninject\.3\.2\.2\.0/lib/sl3/

packages/Ninject\.3\.2\.2\.0/lib/sl3-wp/

packages/Ninject\.3\.2\.2\.0/lib/sl2/

packages/CommonServiceLocator\.1\.3/lib/portable-net4\+sl5\+netcore45\+wpa81\+wp8/
