
*.nupkg

4_Repository/Ephimes\.Repository/obj/Debug/

packages/

packages/CommonServiceLocator\.NinjectAdapter\.Unofficial\.3\.2\.2\.0/lib/Net40/

packages/Ninject\.3\.2\.2\.0/lib/sl5/

packages/CommonServiceLocator\.NinjectAdapter\.Unofficial\.3\.2\.2\.0/tools/

packages/EntityFramework\.6\.1\.3/content/

packages/EntityFramework\.6\.1\.3/lib/net40/

packages/EntityFramework\.6\.1\.3/lib/net45/

packages/EntityFramework\.6\.1\.3/tools/

packages/Ninject\.3\.2\.2\.0/lib/net35/

packages/Ninject\.3\.2\.2\.0/lib/net40/

packages/Ninject\.3\.2\.2\.0/lib/net45-full/
